.notes-content {
    margin-left: 80px; 
    padding: 20px;
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 80px); 
}

.title {
    color: black;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    padding-top: 20px;
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-note-button {
    padding: 10px;
    color: white;
    background-color: #09043D;
    border-radius: 100%;
    font-size: 14px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, width 0.3s, height 0.3s, border-radius 0.3s;
}

.newNote-icon, .button-text {
    position: absolute;
    transition: opacity 0.3s;
}

.button-text {
    opacity: 0;
}

.add-note-button:hover {
    border-radius: 15px;
    width: 140px;
    height: 45px;
}

.add-note-button:hover .newNote-icon {
    opacity: 0; 
}

.add-note-button:hover .button-text {
    opacity: 1;
}

.notes-grid {
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.note-card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.note-title {
    margin: 0;
    color: #333;
    font-size: 1.2em;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px; 
    right: 10px; 
    gap: 5px;
}

.note-card .delete-icon,
.note-card .edit-icon {
    background: none;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    padding: 0; 
}

.note-card .delete-icon:hover,
.note-card .delete-icon:focus {
    color: red; 
}

.note-card .edit-icon:hover,
.note-card .edit-icon:focus {
    color: blue; 
}

.note-content {
    color: #666;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.no-notes {
    grid-column: 1 / -1;
    text-align: center;
}

@media (max-width: 768px) {
    .notes-content {
        margin-left: 0;
        width: 100%;
    }

    .title {
        color: black;
        display: flex;
        justify-content: flex-start;
        margin-left: 100px;
        padding-top: 30px;
    }

    .add-note-button {
        top: 30px;  
        right: 20px; 
    }
}